body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-height-container .take-available-space {
  flex: 1;
  min-height: 0;
}

.ui.segment.scrollable {
  overflow: auto;
}

.ui.segment.full-height {
  height: 100%;
}
